Flask==2.2.2
Werkzeug==2.2.2
Flask-SQLAlchemy==2.5.1
Flask_Login==0.6.3
Flask_mail ==0.9.1
itsdangerous==2.1.2
SQLAlchemy==1.4.0
psycopg2-binary==2.9.3 
gunicorn==20.1.0
itsdangerous
google-generativeai
python-docx==1.1.0
docx==0.2.4
openai==0.27.0
langchain==0.1.14
groq
xlsxwriter
openpyxl
pandas
matplotlib
seaborn
langchain-core
python-dotenv